<h1><%= @song.title %></h1>

<%= @song.first_played_show %>
<%= @song.last_played_show %>
<%= @song.history %>
<%= @song.shows_since_last_played %>
<%= @song.most_common_year %>
<%= @song.least_common_year %>
