<div class="p-4 bg-gray-200 dark:bg-gray-800 my-4">
  <div class="flex justify-between">
    <div class="text-2xl">
      <h2><%= link_to format_show_date(show.date), show_path(show.slug) %></h2>
      <h2>
        <%= link_to venue_path(show.venue.slug) do %>
          <%= show.venue.name %> - <%= show.venue.city %>, <%= show.venue.state %>
        <% end %>
      </h2>
    </div>
    <div>
      <span class="inline-flex items-center gap-x-1.5 rounded-md bg-green-100 px-2 py-1 text-xs font-medium text-green-700">
        <%= show.average_rating.round(2) %>
      </span>
    </div>
  </div>
  <div class="text-md text-gray-600">
    <%= show.notes %>
  </div>

  <div class="my-2 text-lg">
    <% sorted_tracks = show.tracks.sort_by { |track| ['S1', 'S2', 'S3', 'S4', 'E1', 'E2'].index(track.set) || SET_ORDER.size } %>
    <% annotations = sorted_tracks.map { |track| track.annotations.map(&:desc) }.uniq.flatten %>

    <% sorted_tracks.group_by(&:set).each do |set, tracks| %>
      <div class="my-4">
        <span class="pr-2"><%= set %></span>
        <% tracks.each_with_index do |track, index| %>
          <%= link_to track.song.title, song_path(track.song.slug) %><%= track_annotations(track, annotations) %><%= track_segue(track, index, tracks.length) %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div>
    <% annotations.each_with_index do |annotation, index| %>
      <div class="italic text-sm"><%= index + 1 %> <%= annotation %></div>
    <% end %>
  </div>

</div>
