<% cache do %>
  <h1>Shows <%= "from #{params[:year]}" if params[:year] %></h1>
  <div class="flex justify-center items-center">
    <% (1995..Time.current.year).to_a.each do |year| %>
      <%= link_to by_year_shows_path(year: year) do %>
        <span class="badge m-2">
          <%= year %>
        </span>
      <% end %>
    <% end %>
  </div>
  <div class="flex justify-center items-center">
    <% @unique_month_names.each do |month| %>
      <%= link_to "##{month.downcase}" do %>
        <span class="badge m-2">
          <%= month %>
        </span>
      <% end %>
    <% end %>
  </div>
  <% previous_month = nil %>
  <% @shows.each do |show| %>
    <% current_month = show.date.strftime("%B").downcase %>
    <% if previous_month != current_month %>
      <%= tag.a id: current_month %>
      <% previous_month = current_month %>
    <% end %>
    <%= render partial: "show", locals: { show: show } %>
  <% end %>
<% end %>