<!DOCTYPE html>
<html>
  <head>
    <title>Biscuits Internet Project</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="flex flex-col h-screen">
    <header class="bg-gray-800 text-white">
      <!-- app/views/layouts/application.html.erb -->
      <button data-controller="theme" data-action="click->theme#toggle">Toggle Dark/Light Mode</button>
    </header>
    <div class="flex flex-1 overflow-hidden">
      <main class="flex-1 overflow-auto">
        <%= yield %>
      </main>
    </div>
    <footer class="bg-gray-800 text-white">
      <%= render 'layouts/shared/footer' %>
    </footer>
  </body>
</html>
